.breadcrumb-section{
    margin: 100px 0 50px 0;
    display: block;
    margin-left: 20px;
}


.product-item-page{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.product-image-page img{
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.decrease-quantity,
.increase-quantity {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.current-quantity {
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart-btn-page{
    width: 100%;
    background-color: #16a34a;
    color: white;
    display: block;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn-page:hover{
    background-color: #4ade80;
}

.quantity-add-cart-page{
    display: flex;
    align-items: center;
    gap: 10px;
margin-top: 20px
}

.product-details-page{
    margin-bottom: 30px;
}

.product-name-page{
    line-height: 3;
}

.product-price-page{
    font-weight: bold;
}

.similar-products-section {
    margin: 50px 20px;
}

.similar-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.similar-product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.similar-product-image img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.similar-product-name {
    margin-top: 10px;
    font-size: 16px;
}

.similar-product-price {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
}

@media (min-width: 320px) and (max-width: 760px){
    .product-item-page{
        flex-direction: column;
    align-items: center;
    }

    .product-details-container-page{
        width: 100%;
        padding: 15px;
    }

    .product-item-page{
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
    
    .add-to-cart-btn-page{
        width: 65%;
    }

    .add-to-cart-btn-page:hover{
        transform: scale(1.02) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
  opacity: 1;
  /* filter: brightness(1.2); */
  background-color: #4c8f61;
  color: #ffffff;
    }
}