.page-description-container {
  background-color: rgb(45, 184, 45);
  width: 100%;
  height: 70px;
  margin-top: 80px;
  gap: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.page-description-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.category-name h5 {
  font-size: 20px;
}

.shop-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}

.shop-text {
  font-weight: bold;
  font-size: 18px;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
}
