* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header Styles */
header nav {
  background-color: white;
  color: black;
  /* height: 100%; */
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0.8rem;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
}

.logo-img {
  width: 4rem;
  height: auto;
}

.nav-search {
  display: none;
  text-align: center;
  border-color: #065f46;
}

.search-block {
  display: block;
  position: relative;
  margin: 1rem 0;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

/* .cancel-icon{
  display: none;
} */

/* .material-symbols-outlined {
  cursor: pointer;
  transition: color 0.3s;
}

.material-symbols-outlined:hover {
  color: #10b981;
} */

.hidden {
  display: none;
}

.account{
  text-decoration: none;
  color: #000;
  display: flex;
}



.search-container{
display: none;
justify-content: center;
align-items: center;
margin-inline: auto;
margin-bottom: 5px;
max-width: 250px;
width: 250px;
border-radius: 10px;
border: 2px solid forestgreen;
padding: 0;
/* position: relative; */
}

.cart{
display: flex;
align-items: center;
text-decoration: none;
color: #000;

}

.search-inputs{
  border: none;
  outline: none;
  width: 180px;
  padding: 0.5rem;
  transition: .3s ease-in-out;
  font-size: 14px;
  /* border-right: none; */
  font-weight: 500;
}


.hidden-search {
border: none;
/* border-left: none; */
cursor: pointer;
}


.mobile-menu {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 220px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 1rem;
}

.mobile-menu a {
  display: block;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.mobile-menu a:hover {
  color: #10b981;
}

.mobile-menu li{
  list-style-type: none;
}

.close-menu {
margin-left: 0.5rem;
cursor: pointer;
}

.hidden-close{
display: none;
}

/* Hero Section */
.hero-section {
  width: 100%;
  margin-top: 3.5rem;
  height: 13rem;
  background-image: url('Homepage/Hero7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 1rem;
  position: relative;
}


.hero-title {
  color: white;
  font-size: 1.25rem;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

.hero-button {
  background-color: #166534;
  color: white;
  font-weight: bold;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-button a{
  text-decoration: none;
  color: #fff;
}

.hero-button:hover {
  background-color: #4ade80;
}

/* Why Choose Trinity Section */
.why-choose-section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #15803d;
  text-align: center;
  margin: 1rem auto;
  text-decoration: underline;
}

.features-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}



.feature-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  text-align: center;
}

.feature-icon {
  color: #16a34a;
  font-size: 3rem;
  margin: 0 auto;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

.feature-description {
  color: #4b5563;
}

/* Categories Section */
#categories-section {
  padding: 1rem;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.category-item {
  width: 7.5rem;
  height: auto;
  border: 2px solid #fefdf8;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.3s;
  cursor: pointer;
}

.category-item:hover {
 transform: scale(1.05);
  border-color: #10b981;
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.category-item p {
  text-align: center;
}

/* Popular Products Section */
.popular-products-section{
  overflow: hidden;  
  width: 100%;
  max-width: 900px;

}

#big{
  height: 180px;
}

.popular-products-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #15803d;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-align: center;
  margin-top: 2rem;
}

.products-container, .products-container2 {
  justify-content: normal;
 /* margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: 350px; 
  gap: 1rem; */
  align-items: flex-end;
   max-width: 1200px;  
  width: 100%;
  flex-wrap: nowrap; 
  display: flex; 
  padding: 1rem;
  position: relative;
        z-index: -10;
}

.product-item {
  width: 200px;
  /* border: 2px solid #10b981;  
  border-radius: 0.5rem;
  transition: transform 0.3s, border-color 0.3s; */
  margin: 0 5px;
  cursor: pointer;
  padding: 0.5rem;
  height: auto;
  position: relative;
  z-index: 1;
  /* display: block; */
}

.product-item2 {
  width: 200px;
  /* border: 2px solid #10b981;  
  border-radius: 0.5rem;
  transition: transform 0.3s, border-color 0.3s; */
  margin: 0 5px;
  cursor: pointer;
  padding: 0.5rem;
  height: auto;
  position: relative;
  z-index: 1;
  /* display: block; */
}

.product-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  /* border: 1px solid #ccc;  */
}

.product-image{
  width: 150px;
  height: auto;
  margin: 0 auto;
  /* border-radius: 0.25rem; */
 /* border: solid black; */
}

.product-image img {
  width: 100%;
  height: 150px;
  object-fit: contain;
   /* border: solid red; */
}

.product-name {
  text-align: left;
  margin: 0.5rem 0;
}

.product-details {
  margin: 1rem auto;
}

.product-price {
  text-align: left;
  font-weight: bold;
  
}

.add-to-cart-btn {
  background-color: #16a34a;
  color: white;
  margin: 2rem auto auto auto;
  display: block;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #4ade80;
}

small{
  font-size: 0.75rem;
  font-style: italic;
  color: #6b7280;
  text-align: center;
  display: block;
  margin-top: 0.5rem;
}


.provision-link, .beverages-link {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  color: #10b981;
  font-weight: bold;
  text-decoration: none;
}

.testimonial-item img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.testimonial-item {
  text-align: center;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #f9fafb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial-item p {
  font-style: italic;
  color: #374151;
}

.testimonials-section{
  width: 100%;
    overflow-x: auto;
}

.testimonials-container{
  display: flex;
    gap: 1rem;
    width: 1100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.footer-container{
background-color: #22543d;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  text-align: left;
}

.footer-container p {
  font-size: 0.875rem;
  margin: 0;
}


.footer-container a{
  text-decoration: none;
  transition: color 0.3s;
}

.footer-container a:hover {
  color: #065f46;
}

.footer-container ul{
  list-style-type: none;
}

.footer-container ul li {
  margin: 0.5rem 0;
}

.footer-container a{
 color: #065f46;
}

.footer-container a:hover {
  text-decoration: underline;

}

.footer-container h3{
  font-weight: bold;
  color: #fff;
  margin: 1rem auto;
  border-bottom: 2px solid #10b981;
}

.footer-container a{
color: #68d391;
}

.footer-container a:hover{
color: #fff;
}

.Contact a{
color: #fff;
margin: 1rem;
font-size: 1rem;
}

.Contact li{
list-style-type: none;
color: #68d391;
margin: 0.5rem 0;
}

.fa-phone, .fa-envelope, .fa-clock, .fa-map-marker-alt {
  margin-right: 0.5rem;
 
}

.footer-bottom{
text-align: center;
}

.line{
width: 100%;
height: 2px;
background-color: #10b981;
margin-top: 5rem;
}

.footer-bottom p{
color: #fff;
margin-top: 1.5rem;
}


.footer-logo img{
  width: 6rem;
  height: auto;
}

.footer-logo a {
  color: #fff;
  margin: 0.5rem;
  font-size: 1.3rem;
}

.footer-logo {
  text-align: center;
  margin-bottom: 3rem;
}

.footer-logo h4{
  font-size: 1.5rem;
  color: #10b981;
}

.footer-logo p{
  font-size: 0.875rem;
  color: #fefdf8;
}

.footer-logo a:hover {
  color: #10b981;
}
.back-to-top{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #10b981;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s, transform 0.3s;
}

.back-to-top:hover {
  background-color: #065f46;
  transform: scale(1.05);
}

.back-to-top a{
  color: white;
 
}

.back-to-top i {
margin-right: 0.4rem;
}


@media (min-width: 420px) and (max-width: 768px){

.hero-section {
  height: 250px;
  }

.hero-content{
    display: block;
    margin: 10px auto;
  }

.hero-title{
font-size: 26px;
}

.hero-button{
margin-top: 15px;
}



}


@media (min-width: 500px) and (max-width: 613px){

  .hero-section {
  height: 300px;
  }

.hero-content {
        margin: 20px auto 10px 20px;
    }

}


@media (min-width: 614px) and (max-width: 740px){

  .hero-section {
  height: 350px;
  }

.hero-title{
font-size: 34px;
}

.hero-button{
margin-top: 20px;
padding: 6px;
}

.hero-content{
      margin: 20px auto 10px 38px;
}

}

@media (min-width: 700px) and (max-width: 1400px){

.category-item{
      width: 9.5rem;
}

}

@media (min-width: 741px) and (max-width: 900px){

  .hero-section {
        height: 26rem;
   }

.hero-button{
margin-top: 20px;
padding: 6px;
}

.hero-content{
      margin: 53px auto 10px 60px;
}

.hero-title{
    font-size: 40px;
}


}
@media (min-width: 741px) and (max-width: 1400px){
.logo-img{
  width: 5rem;
  height: 40px;
}

}

@media (min-width: 900px) and (max-width: 1000px){

   .hero-section {
        height: 30rem;
   }

.hero-button{
margin-top: 20px;
padding: 6px;
}

.hero-content{
      margin: 53px auto 10px 60px;
}

.hero-title{
    font-size: 40px;
}

.container{
  max-width: 1400px
}



}

/* Slider Styles */
.slider-container {
  width: 100%;
  position: relative;
  overflow: scroll;
}

.slider-container2 {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  scroll-behavior: smooth;
  max-width: 1400px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  transition: transform 0.3s ease;
}

.slider-wrapper2 {
  scrollbar-width: none;
   scroll-behavior: smooth;
  max-width: 1400px;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  transition: transform 0.3s ease;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn2, .next-btn2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn2 {
  left: 10px;
}

.next-btn2 {
  right: 10px;
}


@media (min-width: 1000px) and (max-width: 1400px){

   .hero-section {
        height: 36rem;
   }

.hero-button{
margin-top: 20px;
padding: 6px;
}

.hero-content{
      margin: 53px auto 10px 60px;
}

.hero-title{
    font-size: 45px;
}

.container{
  max-width: 1400px
}



}